* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  .navlink {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-left: 50px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}


// BANNER 

.banner {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    h2 {
      color: white;
      font-size: 3rem;
      text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,  
        -1px 1px 0 #000,   
        1px 1px 0 #000;    
    }
    }
  }


.footer {
  background-color: #000;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}