* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  .navlink {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-left: 50px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }

  @media (max-width: 768px) {
    padding: 20px 20px;

    img {
      max-width: 80px;
      height: auto;
    }

  .navlink {
    ul {
      gap: 20px;
    }
    li {
      margin-left: 0;
    }
  }
  }
}

  
// BANNER 

.banner {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    h2 {
      color: white;
      font-size: 3rem;
      text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,  
        -1px 1px 0 #000,   
        1px 1px 0 #000;    
    }
    }

    @media (max-width: 768px) {

      width: 90%;
      height: 100px;

        h2 {
          font-size: 1.5rem;
        }
      }

      @media (max-width: 406px) {
        h2 {
          padding-left: 10px;
        }
      }
    }
  
  

// CARTES LOGEMENTS

.cards-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #f0f0f0;
  gap: 20px;
  margin: 40px auto;
  padding: 20px;
  width: 80%;
  border-radius: 15px;

  .card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .card-cover {
    width: 100%;
    height: 200px;
    filter: brightness(0.6);
    object-fit: cover;
  }

  .card-title {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: white;
    font-size: small;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  }

  .card:hover .card-cover {
    filter: brightness(0.9);
  }

  .card:hover .card-title {
    display: none;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
}


// FOOTER
.footer {
  background-color: #000;
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

// COLLAPSE

.collapse-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  .collapse-elements {
    background-color: #FF6060;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .collapse-elements:hover {
    background-color: darken(#FF6060, 8%); 
  }

  .collapse-title {
    font-size: 1.1em;
  }

  .collapse-arrow img {
    width: 15px;
    height: 15px;
  }

  .collapse-text {
    padding: 15px 15px 30px 15px;
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}

// ERROR PAGE

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 5rem;


  .error-code {
    font-size: 10rem;
    font-weight: 700;
    color: #FF6060;
    margin-bottom: 5rem;
  }

  .error-message {
    font-size: 1.5rem;
    color: #FF6060;
    margin-bottom: 10rem;
  }

  .redirection-link {
    color: #000;
  }

  @media (max-width: 768px) {
    .error-message {
      text-align: center;
      padding: 0 20px;
    }
  }
}


// CAROUSEL

.carousel-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 450px;

  .carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 8rem;
    color: white;
    background-color: transparent;
    transition: color 0.3 ease;
    z-index: 10;
    cursor: pointer;

    &:hover {
      color: #FF6060;
    }
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .carousel-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 6px;
  }
}

// INFO & HOST

.info-and-host {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;

  .info {

    margin-left: 25px;

    h1 {
      font-size: 2rem;
      color: #FF6060;
      font-weight: 500;
      margin-bottom: 5px;
      
    }

    .location {
      font-size: 1.2rem;
      margin-top: 0;
    }

    
  }

  .host-info {
    display: flex;

    margin-right: 20px;

    p {
      display: flex;
      color: #FF6060;
      margin-right: 10px;
      font-size: 1.3rem;
    }

    .host-picture {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}








